

h1
{ background-color: tomato;}
p{ background-color: tomato;}
p2
 {background-color: pink;}
:root{
    --main-bg-color: pink;
}
body{
    background-color: var(--main-bg-color);
}
#hide{ display: inline;
       width: 33%;
}